.img-pizza{
    border: 1px dashed;
    display: flex;
    background-color: lightgreen;
    margin: 10px;
    width: 300px;
    height: 310PX;
}
.tudo{
    border: 5px dashed;
    background-color: aqua;
    border-color: brown;

}
.textoimg{

    border: 10px dashed;
    font-size: 10;
}


